## HLS RC synthesis script

puts "-- Note: RTL Compiler Started"

set hls_status 0

proc run_cmd { cmd errstr } {
  upvar hls_status hls_status
  puts $cmd
  set retVal {}
  if { !$hls_status } {
    if { [catch { set retVal [uplevel 1 [list eval $cmd] ] } ] } {
      puts "Error: Unable to $errstr."
      set hls_status 1
    }
  } else {
    puts "Error: $errstr skipped due to previous errors."
  }
  set retVal
}

# Source custom RTLCompiler script for specified stage
# stage is one of: initial analyze synthesis reports final
proc source_custom_script { stage } {
   global env
   if { [info exists env(RTLCompiler_CustomScriptDirPath)] } {
      set dir_path $env(RTLCompiler_CustomScriptDirPath)
      if { $dir_path ne "" } {
         set script [file join $dir_path rc_${stage}.tcl]
         if { [file exists $script] } {
            set cmd "source $script"
            set msg [list run custom script $script]
            uplevel 1 [list run_cmd $cmd $msg]
         }
      }
   }
}

## Set the variable for file path prefixing 
set RTL_TOOL_SCRIPT_DIR /home/dss545/small_projects/fir_filter/fir_filter/fir_filter/fir1.v18/.
set RTL_TOOL_SCRIPT_DIR [file dirname [file normalize [info script]]]
puts "-- RTL_TOOL_SCRIPT_DIR is set to '$RTL_TOOL_SCRIPT_DIR' "
set MGC_HOME /opt/mentorgraphics/Catapult_10.5c/Mgc_home

puts "Note: Removing old directory gate_synthesis_rc"
if { [file isdirectory "gate_synthesis_rc"] } {
  file delete -force -- "gate_synthesis_rc"
}
puts "Note: Creating directory gate_synthesis_rc"
file mkdir "gate_synthesis_rc"
lcd "gate_synthesis_rc"

## Initialize RC-HLS variables
set_attr hdl_max_loop_limit 1000
set hls_status 0
set_attr delete_unloaded_insts false

# Source potential custom script
source_custom_script initial

## Configure technology settings
set_attr library /opt/mentorgraphics/Catapult_10.5c/Mgc_home/pkgs/siflibs/nangate/nangate45nm_nldm.lib
set_attr lef_library /opt/mentorgraphics/Catapult_10.5c/Mgc_home/pkgs/siflibs/nangate/nangate45nm.lef

## Exclude cells from synthesis
set_attr avoid true [find /lib*/NangateOpenCellLibrary -libcell CLKBUF_X1]
set_attr avoid true [find /lib*/NangateOpenCellLibrary -libcell CLKBUF_X2]
set_attr avoid true [find /lib*/NangateOpenCellLibrary -libcell CLKBUF_X3]

# Source potential custom script
source_custom_script analyze

## Analyze ccs_in_v1.v 
run_cmd {read_hdl -v2001   $MGC_HOME/pkgs/siflibs/ccs_in_v1.v} {analyze file 'ccs_in_v1.v'}

## Analyze mgc_inout_prereg_en_v1.v 
run_cmd {read_hdl -v2001   $MGC_HOME/pkgs/siflibs/mgc_inout_prereg_en_v1.v} {analyze file 'mgc_inout_prereg_en_v1.v'}

## Analyze ccs_out_v1.v 
run_cmd {read_hdl -v2001   $MGC_HOME/pkgs/siflibs/ccs_out_v1.v} {analyze file 'ccs_out_v1.v'}

## Analyze mgc_io_sync_v2.v 
run_cmd {read_hdl -v2001   $MGC_HOME/pkgs/siflibs/mgc_io_sync_v2.v} {analyze file 'mgc_io_sync_v2.v'}

## Analyze rtl.v 
run_cmd {read_hdl -v2001   $RTL_TOOL_SCRIPT_DIR/../td_ccore_solutions/ROM_1i4_1o8_67a60b90ba118081e4925479fe39390ab2_0/rtl.v} {analyze file 'rtl.v'}

## Analyze rtl.v 
run_cmd {read_hdl -v2001   $RTL_TOOL_SCRIPT_DIR/../td_ccore_solutions/ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2_0/rtl.v} {analyze file 'rtl.v'}

## Analyze rtl.v 
run_cmd {read_hdl -v2001   $RTL_TOOL_SCRIPT_DIR/rtl.v} {analyze file 'rtl.v'}

## Elaborate design fir1 
run_cmd {elaborate  "fir1"} {elaborate fir1 {}}

# INFO: in catapult interconnect_mode has been set to none - interconnect_mode in RTL compiler will be set to wireloads but no wireload settings will be written into the constraints file 
set_attr interconnect_mode wireload

## Include SDC file
cd /designs/fir1
read_sdc -stop_on_errors $RTL_TOOL_SCRIPT_DIR/rtl.v.rc.sdc
cd /

puts "[clock format [clock seconds] -format {%a %b %d %H:%M:%S %Z %Y}]"

set digns_with_mul [find /designs* -subdesign mul*]
if { [llength $digns_with_mul] > 0 } {
  set_attribute user_sub_arch {non_booth} [find /designs* -subdesign mul*]
}
puts "-- Starting synthesis for design 'fir1'"
# Source potential custom script
source_custom_script synthesis
uniquify fir1
synthesize -to_mapped

# Source potential custom script
source_custom_script reports
puts "-- Requested 3 fractional digits for design 'fir1' timing"
puts "-- Requested  fractional digits for design 'fir1' capacitance"
puts "-- Tool output delay factor to nS: 0.001"
puts "-- Library delay factor to nS: 1.0"
puts "-- Characterization mode: p2p "
puts "-- Synthesis area report for design 'fir1'"
report area /designs/fir1
report gates /designs/fir1
puts "-- END Synthesis area report for design 'fir1'"

cd /designs/fir1
ungroup -all
  if { [llength [find / -clock {*/clk}] ] > 0 } {
    puts "-- Synthesis input_to_register:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '0' 'INOUT' CLOCK 'clk'"
    report timing -full_pin_names -from [find / -port {*/x_rsc_dat[*]}] -to [find / -clock {*/clk}]
    puts "-- END Synthesis input_to_register:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '0' 'INOUT' CLOCK 'clk'"

    puts "-- Synthesis input_to_register:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '0' 'INOUT' CLOCK 'clk'"
    report timing -full_pin_names -from [find / -port {*/shift_reg_rsc_zin[*]}] -to [find / -clock {*/clk}]
    puts "-- END Synthesis input_to_register:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '0' 'INOUT' CLOCK 'clk'"

  }
  if { [llength [find / -clock {*/clk}] ] > 0 && [llength [find / -clock {*/clk}] ] > 0 } {
    puts "-- Synthesis register_to_register:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '0' 'INOUT' CLOCK 'clk'"
    report timing -full_pin_names -from [find / -clock {*/clk}] -to [find / -clock {*/clk}]
    puts "-- END Synthesis register_to_register:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '0' 'INOUT' CLOCK 'clk'"
  }

  if { [llength [find / -clock {*/clk}] ] > 0 } {
    puts "-- Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '2' 'INOUT' port 'shift_reg_rsc_lzout'"
    report timing -full_pin_names -from [find / -clock {*/clk}] -to [find / -port {*/shift_reg_rsc_lzout}]
    puts "-- END Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '2' 'INOUT' port 'shift_reg_rsc_lzout'"

    puts "-- Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '2' 'INOUT' port 'shift_reg_rsc_zout'"
    report timing -full_pin_names -from [find / -clock {*/clk}] -to [find / -port {*/shift_reg_rsc_zout[*]}]
    puts "-- END Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '2' 'INOUT' port 'shift_reg_rsc_zout'"

    puts "-- Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '3' 'OUT' port 'return_rsc_dat'"
    report timing -full_pin_names -from [find / -clock {*/clk}] -to [find / -port {*/return_rsc_dat[*]}]
    puts "-- END Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '3' 'OUT' port 'return_rsc_dat'"

    puts "-- Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '1' 'IN' port 'x_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -clock {*/clk}] -to [find / -port {*/x_rsc_triosy_lz}]
    puts "-- END Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '1' 'IN' port 'x_rsc_triosy_lz'"

    puts "-- Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '2' 'INOUT' port 'shift_reg_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -clock {*/clk}] -to [find / -port {*/shift_reg_rsc_triosy_lz}]
    puts "-- END Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '2' 'INOUT' port 'shift_reg_rsc_triosy_lz'"

    puts "-- Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '3' 'OUT' port 'return_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -clock {*/clk}] -to [find / -port {*/return_rsc_triosy_lz}]
    puts "-- END Synthesis register_to_output:timing report for design 'fir1' '0' 'INOUT' CLOCK 'clk' '3' 'OUT' port 'return_rsc_triosy_lz'"

  }

  if { [llength [all_inputs -design fir1]] != 0 && [llength [all_outputs -design fir1]] != 0 } {
    puts "-- Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '2' 'INOUT' port 'shift_reg_rsc_lzout'"
    report timing -full_pin_names -from [find / -port {*/x_rsc_dat[*]}] -to [find / -port {*/shift_reg_rsc_lzout}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '2' 'INOUT' port 'shift_reg_rsc_lzout'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '2' 'INOUT' port 'shift_reg_rsc_zout'"
    report timing -full_pin_names -from [find / -port {*/x_rsc_dat[*]}] -to [find / -port {*/shift_reg_rsc_zout[*]}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '2' 'INOUT' port 'shift_reg_rsc_zout'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '3' 'OUT' port 'return_rsc_dat'"
    report timing -full_pin_names -from [find / -port {*/x_rsc_dat[*]}] -to [find / -port {*/return_rsc_dat[*]}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '3' 'OUT' port 'return_rsc_dat'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '1' 'IN' port 'x_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -port {*/x_rsc_dat[*]}] -to [find / -port {*/x_rsc_triosy_lz}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '1' 'IN' port 'x_rsc_triosy_lz'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '2' 'INOUT' port 'shift_reg_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -port {*/x_rsc_dat[*]}] -to [find / -port {*/shift_reg_rsc_triosy_lz}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '2' 'INOUT' port 'shift_reg_rsc_triosy_lz'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '3' 'OUT' port 'return_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -port {*/x_rsc_dat[*]}] -to [find / -port {*/return_rsc_triosy_lz}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '1' 'IN' port 'x_rsc_dat' '3' 'OUT' port 'return_rsc_triosy_lz'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '2' 'INOUT' port 'shift_reg_rsc_lzout'"
    report timing -full_pin_names -from [find / -port {*/shift_reg_rsc_zin[*]}] -to [find / -port {*/shift_reg_rsc_lzout}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '2' 'INOUT' port 'shift_reg_rsc_lzout'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '2' 'INOUT' port 'shift_reg_rsc_zout'"
    report timing -full_pin_names -from [find / -port {*/shift_reg_rsc_zin[*]}] -to [find / -port {*/shift_reg_rsc_zout[*]}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '2' 'INOUT' port 'shift_reg_rsc_zout'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '3' 'OUT' port 'return_rsc_dat'"
    report timing -full_pin_names -from [find / -port {*/shift_reg_rsc_zin[*]}] -to [find / -port {*/return_rsc_dat[*]}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '3' 'OUT' port 'return_rsc_dat'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '1' 'IN' port 'x_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -port {*/shift_reg_rsc_zin[*]}] -to [find / -port {*/x_rsc_triosy_lz}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '1' 'IN' port 'x_rsc_triosy_lz'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '2' 'INOUT' port 'shift_reg_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -port {*/shift_reg_rsc_zin[*]}] -to [find / -port {*/shift_reg_rsc_triosy_lz}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '2' 'INOUT' port 'shift_reg_rsc_triosy_lz'"

    puts "-- Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '3' 'OUT' port 'return_rsc_triosy_lz'"
    report timing -full_pin_names -from [find / -port {*/shift_reg_rsc_zin[*]}] -to [find / -port {*/return_rsc_triosy_lz}]
    puts "-- END Synthesis input_to_output:timing report for design 'fir1' '2' 'INOUT' port 'shift_reg_rsc_zin' '3' 'OUT' port 'return_rsc_triosy_lz'"

  }

if {$hls_status} {
  puts "Warning: Check transcript for errors hls_status=$hls_status"
}
puts "[clock format [clock seconds] -format {%a %b %d %H:%M:%S %Z %Y}]"
change_names -verilog
write_hdl fir1 > $RTL_TOOL_SCRIPT_DIR/gate.rc.v.v
puts "-- Netlist for design 'fir1' written to $RTL_TOOL_SCRIPT_DIR/gate.rc.v.v"
write_sdc > $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdc
puts "-- SDC for design 'fir1' written to $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdc"
write_sdf > $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdf
puts "-- SDF for design 'fir1' written to $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdf"

# Source potential custom script
source_custom_script final
puts "-- Synthesis finished for design 'fir1'"

