## HLS RC synthesis script

puts "-- Note: RTL Compiler Started"

set hls_status 0

proc run_cmd { cmd errstr } {
  upvar hls_status hls_status
  puts $cmd
  set retVal {}
  if { !$hls_status } {
    if { [catch { set retVal [uplevel 1 [list eval $cmd] ] } ] } {
      puts "Error: Unable to $errstr."
      set hls_status 1
    }
  } else {
    puts "Error: $errstr skipped due to previous errors."
  }
  set retVal
}

# Source custom RTLCompiler script for specified stage
# stage is one of: initial analyze synthesis reports final
proc source_custom_script { stage } {
   global env
   if { [info exists env(RTLCompiler_CustomScriptDirPath)] } {
      set dir_path $env(RTLCompiler_CustomScriptDirPath)
      if { $dir_path ne "" } {
         set script [file join $dir_path rc_${stage}.tcl]
         if { [file exists $script] } {
            set cmd "source $script"
            set msg [list run custom script $script]
            uplevel 1 [list run_cmd $cmd $msg]
         }
      }
   }
}

## Set the variable for file path prefixing 
set RTL_TOOL_SCRIPT_DIR /home/dss545/.catapult/Cache/10_5c_896140/Cluster/1612398963b17ed8d8.2/.
set RTL_TOOL_SCRIPT_DIR [file dirname [file normalize [info script]]]
puts "-- RTL_TOOL_SCRIPT_DIR is set to '$RTL_TOOL_SCRIPT_DIR' "
set MGC_HOME /opt/mentorgraphics/Catapult_10.5c/Mgc_home

puts "Note: Removing old directory gate_synthesis_rc"
if { [file isdirectory "gate_synthesis_rc"] } {
  file delete -force -- "gate_synthesis_rc"
}
puts "Note: Creating directory gate_synthesis_rc"
file mkdir "gate_synthesis_rc"
lcd "gate_synthesis_rc"

## Initialize RC-HLS variables
set_attr hdl_max_loop_limit 1000
set hls_status 0
set_attr delete_unloaded_insts false

# Source potential custom script
source_custom_script initial

## Configure technology settings
set_attr library /opt/mentorgraphics/Catapult_10.5c/Mgc_home/pkgs/siflibs/nangate/nangate45nm_nldm.lib
set_attr lef_library /opt/mentorgraphics/Catapult_10.5c/Mgc_home/pkgs/siflibs/nangate/nangate45nm.lef

## Exclude cells from synthesis
set_attr avoid true [find /lib*/NangateOpenCellLibrary -libcell CLKBUF_X1]
set_attr avoid true [find /lib*/NangateOpenCellLibrary -libcell CLKBUF_X2]
set_attr avoid true [find /lib*/NangateOpenCellLibrary -libcell CLKBUF_X3]

# Source potential custom script
source_custom_script analyze

## Analyze rtl.v 
run_cmd {read_hdl -v2001   $RTL_TOOL_SCRIPT_DIR/rtl.v} {analyze file 'rtl.v'}

## Elaborate design ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2 
run_cmd {elaborate  "ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2"} {elaborate ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2 {}}

# INFO: in catapult interconnect_mode has been set to none - interconnect_mode in RTL compiler will be set to wireloads but no wireload settings will be written into the constraints file 
set_attr interconnect_mode wireload

## Include SDC file
cd /designs/ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2
read_sdc -stop_on_errors $RTL_TOOL_SCRIPT_DIR/rtl.v.rc.sdc
cd /

puts "[clock format [clock seconds] -format {%a %b %d %H:%M:%S %Z %Y}]"

set digns_with_mul [find /designs* -subdesign mul*]
if { [llength $digns_with_mul] > 0 } {
  set_attribute user_sub_arch {non_booth} [find /designs* -subdesign mul*]
}
puts "-- Starting synthesis for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2'"
# Source potential custom script
source_custom_script synthesis
uniquify ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2
synthesize -to_mapped

# Source potential custom script
source_custom_script reports
puts "-- Requested 3 fractional digits for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2' timing"
puts "-- Requested  fractional digits for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2' capacitance"
puts "-- Tool output delay factor to nS: 0.001"
puts "-- Library delay factor to nS: 1.0"
puts "-- Characterization mode: p2p "
puts "-- Synthesis area report for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2'"
report area /designs/ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2
report gates /designs/ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2
puts "-- END Synthesis area report for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2'"

cd /designs/ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2
ungroup -all
  if { [llength [all_inputs -design ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2]] != 0 && [llength [all_outputs -design ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2]] != 0 } {
    puts "-- Synthesis input_to_output:timing report for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2' '0' 'INOUT' port 'I_1' '0' 'INOUT' port 'O_1'"
    report timing -full_pin_names -from [find / -port {*/I_1[*]}] -to [find / -port {*/O_1}]
    puts "-- END Synthesis input_to_output:timing report for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2' '0' 'INOUT' port 'I_1' '0' 'INOUT' port 'O_1'"

  }

if {$hls_status} {
  puts "Warning: Check transcript for errors hls_status=$hls_status"
}
puts "[clock format [clock seconds] -format {%a %b %d %H:%M:%S %Z %Y}]"
change_names -verilog
write_hdl ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2 > $RTL_TOOL_SCRIPT_DIR/gate.rc.v.v
puts "-- Netlist for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2' written to $RTL_TOOL_SCRIPT_DIR/gate.rc.v.v"
write_sdc > $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdc
puts "-- SDC for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2' written to $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdc"
write_sdf > $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdf
puts "-- SDF for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2' written to $RTL_TOOL_SCRIPT_DIR/gate.rc.v.sdf"

# Source potential custom script
source_custom_script final
puts "-- Synthesis finished for design 'ROM_1i4_1o1_a981173f914bc276eca7f42d28616f0ab2'"

